{% extends "plantilla.html" %}

{% block content %}

<div class="container mt-5 mb-5">

    <h3 class="text-center">Comunicate con nosotros</h3>

    <div class="row mt-5">
        <div class="col justify-content-center">
            <h5>Horarios</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Lunes a Viernes - 8:00 am a 10:00 pm</li>
                <li class="list-group-item">Sabados y Domingos - 10:00 am a 9:00 pm</li>
            </ul>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119092.55538278319!2d-101.73743294972398!3d21.126820134987682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbeffd6e6e721%3A0x606d95ec61a54327!2zTGXDs24sIEd0by4!5e0!3m2!1ses-419!2smx!4v1647141037207!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>


    <div class="row mt-5">
        <form action="">
            <div class="row">
                <div class="col">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control">
                    <br>
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control">
                    <br>
                    <label class="form-label">Telefono</label>
                    <input type="tel" class="form-control">
                </div>
            </div>
            <br>
            <div class="text-center">
                <a href="#" class="btn btn-primary">Enviar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}