{% extends "plantilla.html" %}

{% block content %}

<h1>Productos</h1>

<div class="d-flex flex-wrap">

    {% for item in p %}
    <div class="col me-4">
        <div class="card">
            <img src="../static/img_productos/{{item.imagen}}" width="250px" height="250px" class="card-img-top" alt="Producto">
            <div class="card-body">
                <h5 class="card-title">{{item.nombre}}</h5>
                <p class="card-text">{{item.precio}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}
